:root{ 

    /* Colors */
    --dark-cyan: hsl(185, 75%, 39%);
    --desaturated-blue: hsl(229, 23%, 23%);
    --grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);

    /* Fonts */
    --font-size: 1.125rem;
    --font-kumbh: 'Kumbh Sans', sans-serif;
}   

footer .attribution { 
    font-size: 11px; 
    text-align: center; 
    margin-bottom: 20px;
}

footer .attribution a { 
    color: hsl(228, 45%, 44%); 
}